:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'poppins';
  padding: 0.5rem 0.8rem 0;
  background-color: white;
}

nav {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listaCabecera {
  margin: 0.5rem 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
}

.listaCabecera li {
  padding: 0.5rem;
  color: black;
  cursor: pointer;
}

.logoCarrito {
  padding: 0.2rem;
  display: flex;
}

.logoCarrito a {
  text-decoration: none;
}

.carritoNombre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parrafoCarrito {
  margin: 0;
  font-size: 0.75rem;
}

.popupCarroVacio{
  display: none;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */